/* Styling forecast cards */
.custom-padding {
  padding: 0.5rem;
}

/* styling city history buttons */
#city-name, 
button {
  text-transform: capitalize;
}

.city-button {
  padding: .5rem 1rem;
}

.city-button:hover,
.city-button:focus {
  background-color: #6c757d;
  color: white;
}

/* styling uv index */
.favorable,
.moderate,
.severe {
  padding: 0 5px 1px 5px;
  border-radius: 5px;
  color: white;
}

.favorable {
  background-color: green;
}

.moderate {
  background-color: orange ;
}

.severe {
  background-color: red;
}